<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>信息管理</title>
    <base href="http://localhost"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/angular.js/1.6.3/angular.min.js"></script>

</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="adminBook">&ensp;图书管理</a>
        </div>
        <div>
            <a class="navbar-brand" href="#">&ensp;&ensp;&ensp;&ensp;</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="adminUser">用户管理</a>
        </div>

        <div>
            <a class="navbar-brand" href="#">&ensp;&ensp;&ensp;&ensp;</a>
        </div>

    </div>
</nav>

<h2>图书列表</h2>
<br>
<div ng-app="myApp" ng-controller="myCtrl">
    <table  class="table table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>category</th>
            <th>eBookType</th>
            <th><button class="btn btn-link"></button></th>
            <th><button class="btn btn-link"></button></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="x in names">
            <td>{{ x.id}}</td>
            <td>{{ x.name }}</td>
            <td>{{ x.category.name }}</td>
            <td>{{ x.ebookType }}</td>
            <td><button class="btn btn-link" ng-click = update($index) >查看详细信息</button></td>
            <td><button class="btn btn-link" ng-click = delete($index) >删除</button></td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $.ajax({
            async: false,
            cache: false,
            type: 'GET',
            url:"http://localhost:8080/book/",

            error: function() {
                alert('获得列表请求失败');
            },
            success: function(data) {
                var books = JSON.parse(data["data"]);
                $scope.names = books; //由JSON字符串转换为JSON对象data["data"];
                $scope.update = function (index) {
                    var ID = books[index].id;
                    window.location.href = "/toBookInfo/"+ID;
                };
                $scope.delete = function (index) {
                    var ID = books[index].id;
                    $.ajax({
                        async: false,
                        cache: false,
                        type: 'delete',
                        url:"http://localhost:8080/book/"+ID,
                        error: function() {
                            alert('连接失败');
                        },
                        success: function(data){
                            alert("删除成功");
                            window.location.href = "adminBook";
                        }
                    })
                }
            }
        });
    });
</script>

</body>
</html>